<section>
  <h2>Partidas</h2>
</section>
<app-data-table [dataSource]="dataSource" 
  [displayedColumns]="displayedColumns" [actionsFunctions]="actionsFunctions" [isLoading]="isLoading" 
  (callAction)="callAction($event)">
</app-data-table>

<!-- <table mat-table [dataSource]="dataSource" [actionsFunctions]="actionsFunctions" 
                 (callAction)="callAction($event)">
  <mat-header-row *matHeaderRowDef="displayedColumns">
  </mat-header-row>
  <mat-row (click)="getRecord(row)" *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'pointer': true}">
  </mat-row>
  
  <ng-container matColumnDef="sede"> 
      <mat-header-cell *matHeaderCellDef> Sede </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.sede}}</mat-cell>
  </ng-container> 
  <ng-container matColumnDef="jugador1"> 
      <mat-header-cell *matHeaderCellDef> Jugando Blancas </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.jugador1.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="jugador2"> 
      <mat-header-cell *matHeaderCellDef> Jugando Negras </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.jugador2.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="resultado"> 
      <mat-header-cell *matHeaderCellDef> Resultado </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.resultado}}</mat-cell>
  </ng-container>
</table> -->