<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <button mat-button routerLink="/"><h3> CHESS MANAGER </h3></button>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <a mat-button href="https://github.com/rubancar/ajedrez/tree/main" target="_blank">
                        
                        <mat-icon>code</mat-icon><span> Github</span>
                    </a>
                </li>
                <mat-divider vertical style="background:white"></mat-divider>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                        <span *ngIf="user">
                            {{user.usuario}}
                        </span>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click) = "logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            Cerrar sesión
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>