<div class="d-flex justify-content-center">
    <h1>CHESS MANAGER</h1>
</div>
<div class="d-flex justify-content-center">
    <span>Programación del lado del cliente y visualización (TWCAM)</span>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div>
    <p>Con este trabajo se busca realizar una pagina web implementada en angular que 
        permita la gestion de los diferentes elementos de una federacción de Ajedrez.
    </p>
    <p>
        En esta aplicacion se pueden crear, editar, listar, visualizar y eliminar:
    </p>
    <ul>
        <li>Jugadores.</li>
        <li>Partidas.</li>
        <li>Torneos.</li>
        <li>Clubes.</li>
        <li>Entrenadores.</li>
        <li>Federaciones.</li>
    </ul>
    <p>
        Tambien cuenta con acciones especiales como:   
    </p>
    <ul>
        <li>Establecer resultados de partida.</li>
        <li>Gestionar el calendario de calentamiento de un entrenador.</li>
    </ul>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div>
    <p>Esta aplicacion ha sido desarrollada por:</p>
    <ul>
        <li>Ruben Carvajal Ulloa.</li>
        <li>Fernando Huertas Olivares.</li>
        <li>Alexis Janero Moliner.</li>
    </ul>
</div>